body {
  display: none;
}

/* ----------------------- 會員專區-修改密碼 ----------------------- */
.member-password {
  width: 100%;
  background-color: #fafafa;
  padding-top: 130px;
  padding-bottom: 100px;
  min-height: calc(100vh - 244px);
}
.member-password > .container {
  max-width: 1200px;
  margin: 0 auto;
}

.member-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* ----------------------- 選單 (共用) ----------------------- */
.member-box {
  width: 20%;
  min-width: 240px;
  background-color: white;
  border-radius: 8px;
  padding: 40px 20px 20px 20px;
  margin-right: 20px;
  position: sticky;
  top: 130px;
}
.member-title {
  display: flex;
}
.member-title > h3 {
  font-weight: 500;
}
.member-images {
  width: 18px;
  margin-right: 10px;
}
.member-images > img {
  width: 100%;
  height: 100%;
}
.member-ul {
  text-align: center;
  white-space: nowrap;
}
.member-ul > li {
  margin-bottom: 40px;
}
.member-box > hr {
  margin: 0px;
  width: 100%;
  height: 1px;
  border: none;
  background-color: #e5e5e5;
  margin: 30px 0px;
}
.member-ul > li:hover > a {
  color: #364772;
}
.member-ul > li > a {
  transition: all 0.2s;
  cursor: pointer;
}
.member-ul > li.active > a {
  color: #364772;
  font-weight: 500;
}

/* ----------------------- 修改密碼 ----------------------- */

/* 表單 */
form.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-password-box {
  background-color: white;
  border-radius: 8px;
  width: 78%;
  padding: 40px 50px;
}
.personal-flex-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 420px;
}

.personal-flex-box > div {
  display: flex;
  flex-direction: column;
}
.personal-info {
  width: 48%;
}
.password-box {
  margin-bottom: 20px;
}
.personal-flex-box > div {
  margin-bottom: 20px;
  position: relative;
}
.personal-flex-box > div > input {
  padding: 10px 55px 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid #9b9b9bcc;
  margin-top: 10px;
}

.personal-flex-box > div > input:focus {
  outline: none;
  border: 1.5px solid #364772;
}

.password-eye-image {
  position: absolute;
  top: 38px;
  right: 20px;
  width: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.password-eye-image > img {
  width: 100%;
  height: 100%;
}

/* 錯誤訊息 */
.error {
  color: #e96a6a;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

/* 按鈕 */
.password-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.password-btn-box > input {
  background-color: #364772;
  border: 2px solid #364772;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  font-size: 14px;
  padding: 0 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
}
.password-btn-box > input.cancel-btn {
  background-color: initial;
  color: #364772;
  border: 2px solid #364772;
  margin-right: 20px;
  font-weight: 500;
}
.save-btn:hover {
  background-color: #51618e;
  border: 2px solid #51618e;
  cursor: pointer;
}

.password-btn-box > input.cancel-btn:hover {
  border: 2px solid #51618e;
  color: #51618e;
  cursor: pointer;
}
input:focus {
  outline: none;
  border: 1.5px solid #364772;
}
input::placeholder {
  color: #d3d3d3;
}

/* ----------------------- RWD ----------------------- */
@media screen and (max-width: 1280px) {
  .member-password {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 992px) {
  .password-btn-box > input {
    margin: 0px;
  }
  .password-btn-box {
    display: flex;
    justify-content: space-evenly;
    width: auto;
  }
  .personal-flex-box {
    width: 100%;
  }

  .member-flex-box {
    flex-direction: column;
  }
  .member-title,
  .member-box > hr {
    display: none;
  }
  .member-box {
    width: 100%;
    margin-bottom: 50px;
    padding: 0px;
    background-color: inherit;
    height: auto;
    position: relative;
    top: initial;
  }
  .member-ul {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  .member-ul > li {
    margin: 0px 10px;
  }

  .member-password-box {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .member-password > .container > h2 {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .member-password {
    padding-right: 25px;
    padding-left: 25px;
  }
  .password-btn-box {
    flex-direction: column;
    width: 100%;
  }
  .password-btn-box > input {
    width: 100%;
  }
  .password-btn-box > input.cancel-btn {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .member-password-box {
    padding: 40px 40px;
  }
  .member-ul > li > a {
    font-size: 15px;
  }
}

@media screen and (max-width: 414px) {
  .member-ul > li {
    margin: 0px;
  }
  .member-password {
    height: auto;
  }
  .password-btn-box > input.cancel-btn {
    font-size: 15px;
  }
  .password-btn-box > input.save-btn {
    font-size: 15px;
  }
  .member-password-box {
    padding: 40px 30px;
  }
}
